.area-container {
  background-color: #f5f5f5;
  height: 25rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.margin-area-1rem {
  margin: 1rem;
}

.or-container {
  background-color: white;
  border-radius: 999px;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 27.5rem;
  display: flex;
  justify-content: center;
}

.or-text {
  padding-top: 1rem;
}

.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.avatar-box {
  display: flex;
  align-items: center;
}

.test {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* MEDIA QUERIES */

@media (min-width: 320px) {
  .area-container {
    height: 35rem;
  }
  .or-container {
    top: 32.5rem;
  }
  .avatar {
    visibility: hidden;
  }
  .margin-area-1rem {
      margin: 0.5;
  }
  .list-container {
      margin: 0rem;
      margin-bottom: 1rem;
  }
}

@media (min-width: 375px) {
    .avatar {
        visibility: inherit;
    }
}
