.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem;
  padding: 0.6rem;
  border: 1px solid rgb(185, 185, 185);
  width: 50rem;
}

.card-container {
  margin: 2rem;
}
