@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.display {
  display: flex;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
}

.inputfile + label {
  border-radius: 5px;
  padding: 0.5rem;
  color: black;
  border: 1px solid grey;
}
.inputfile + label {
  cursor: pointer;
}

.grey-bg {
  background-color: #f5f5f5;
}

.margin-1rem {
  margin: 1rem;
}
