.newarea-container {
  height: 100vh;
}

.items-container {
  padding: 5rem;
}

.left-icon {
  font-size: 4rem;
}

.icon-container {
  display: flex;
  color: grey;
  align-items: flex-end;
  cursor: pointer;
}
